*
{
	margin: 0px;
	padding: 0px;
}
.layer-1
{
background-color: grey;
padding: 20% 20% 20% 20% ;
width: 600px;
height: 600px;
margin: 50px;
border-radius: 20px;
list-style-position: inside;
border:20px ;
border-color: white;

}
.layer-2
{
background-color: orange;
padding: 20% ;
width: 600px;
height: 600px;
margin: 50px;
border-radius: 20px;
list-style-position: inside;
border:20px ;
border-color: white;
}

